@model Pokemon

<h1>Add New Pokemon</h1>

@using (Html.BeginForm("AddPokemonToDatabase", "Pokemon", "Post"))
{
    <input asp-for="PokemonID" type="hidden" value="" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="" />

    <label asp-for="Type" class="control-label">Type</label>
    <input type="text" name="Type" class="form-control" value="" />

    <label asp-for="Abilities" class="control-label">Abilities</label>
    <input type="text" name="Abilities" class="form-control" value="" />

    <label asp-for="HP" class="control-label">HP</label>
    <input type="number" step="1" name="HP" class="form-control" value="" />

    <label asp-for="Attack" class="control-label">Attack</label>
    <input type="number" step="1" name="Attack" class="form-control" value="" />

    <label asp-for="Defense" class="control-label">Defense</label>
    <input type="number" step="1" name="Defense" class="form-control" value="" />

    <label asp-for="SpecialAttack" class="control-label">Special Attack</label>
    <input type="number" step="1" name="SpecialAttack" class="form-control" value="" />

    <label asp-for="SpecialDefense" class="control-label">Special Defense</label>
    <input type="number" step="1" name="SpecialDefense" class="form-control" value="" />

    <label asp-for="Speed" class="control-label">Speed</label>
    <input type="number" step="1" name="Speed" class="form-control" value="" />

    <label asp-for="Generation" class="control-label">Generation</label>
    <input type="number" step="1" name="Generation" class="form-control" value="" />

    <label asp-for="Legendary" class="control-label">Legendary</label>
    <select name="Legendary" class="form-control">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>


}